.navbar{
    background: #121212;
}

.img {
    transform: translatex(200%);
}

.me-2 {
    transform: translatex(-43%);
    min-width: 800px
}

.btn{
    transform: translate(170%);
    height: 40px;
    width: 100px;
    color: #FFFFFF !important;
    background-color: #121212 !important;
    border: none !important;
}